.wrapper {
  width: 60%;
  margin-top: 25px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.wrapper .header-about-page {
  margin: -5px 0 5px 0;
  text-align: center;
  font-size: 35px;
}
.wrapper .paragraph-about-page {
  position: relative;
  margin: 0 0 5px 0;
  text-align: center;
  color: crimson;
}
.wrapper .paragraph-about-page::after {
  content: '';
  display: block;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 1px;
  background: #999;
}
.wrapper .paragraph-about-page::before {
  content: '';
  display: block;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 5%;
  height: 4px;
  background: crimson;
  z-index: 2;
}
.wrapper .first-paragraph {
  margin: 25px auto 20px auto;
  width: 50%;
  font-size: 18px;
  text-align: center;
  color: white;
}
.wrapper .info:not(.first-paragraph) {
  margin: 20px auto;
  width: 50%;
  font-size: 18px;
  text-align: center;
  color: white;
}
/* Responsive Web Design */
@media all and (max-width: 1800px) {
  section .wrapper .describe-about-page .info {
    width: 75%;
    font-size: 20px;
  }
}
@media all and (max-width: 1350px) {
  section .wrapper .describe-about-page .info {
    font-size: 18px;
  }
}
@media all and (max-width: 1200px) {
  section .wrapper .describe-about-page .info {
    font-size: 16px;
  }
}
@media all and (max-width: 875px) {
  section .wrapper .describe-about-page {
    font-size: 12px;
  }
  section .wrapper .describe-about-page::after {
    top: 27px;
  }
  section .wrapper .describe-about-page::before {
    top: 26px;
  }
  section .wrapper .describe-about-page .info {
    font-size: 14px;
  }
}
@media all and (max-width: 685px) {
  section .wrapper .paragraph-about-page::before {
    top: 51px;
  }
  section .wrapper .paragraph-about-page::after {
    top: 52px;
  }
  section .wrapper .describe-about-page .first-paragraph {
    margin: 30px auto 20px auto;
  }
  section .wrapper .describe-about-page .info {
    width: 100%;
  }
}
@media all and (max-width: 540px) {
  section .wrapper .describe-about-page .info {
    font-size: 12px;
    margin: 25px auto;
  }
}
@media all and (max-width: 410px) {
  section .wrapper .paragraph-about-page::before {
    width: 10%;
    top: 69px;
  }
  section .wrapper .paragraph-about-page::after {
    width: 100%;
    top: 70px;
  }
  section .wrapper .describe-about-page {
    margin-top: 32px;
  }
  section .wrapper .describe-about-page .first-paragraph {
    margin: 75px auto 20px auto;
  }
  section .wrapper .describe-about-page .info {
    margin: 15px auto;
    font-size: 11px;
  }
}
