header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 550px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-bottom: 3px solid #999999;
  transition: background-image 350ms ease-in-out;

  .main-header{
    margin: 0 0 0 125px;
    width: 50%;
    color: white;
    font-size: 40px;
  }

  .main-header-paragraph{
    margin: -2px 0 0 127px;
    width: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;

    .awarded-word{
      color: deepskyblue;
    }
  }
}

/* Responsive Web Design */

@media all and(max-width: 1200px){
  header{
    .main-header{
      margin: 0;
      width: 100%;
      font-size: 45px;
      text-align: center;
    }
    .main-header-paragraph{
      margin: -2px 0 0 0;
      width: 100%;
      font-size: 22px;
      text-align: center;
    }
  }
}

@media all and(max-width: 850px){
  header{
    .main-header{
      font-size: 35px;
    }
    .main-header-paragraph{
      font-size: 18px;
    }
  }
}

@media all and(max-width: 600px){
  header{
    .main-header{
      font-size: 24px;
    }
    .main-header-paragraph{
      margin: -2px 0 0 0;
      font-size: 12px;
    }
  }
}

@media all and(max-width: 420px){
  header{
    .main-header{
      font-size: 21px;
    }
    .main-header-paragraph{
      margin: 2px 0 0 0;
      font-size: 11px;
    }
  }
}
